<nav class="navbar navbar-dark bg-secondary">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">MY DIET ADMIN</a>
</nav>
<div class="wrapper d-flex">
  <div class="side-bar border" id="navbarSupportedContent">
    <ul>
      <li>Dashboard</li>
    </ul>
  </div>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          Content
        </div>
      </div>
    </div>
  </div>
</div>
