<div class="nav d-flex bg-secondary justify-content-between">
  <div class="brand p-2">
    <i
      data-toggle="collapse"
      data-target=".side-bar"
      class="fa fa-align-justify d-inline text-light back"
    ></i>

    <h1 class="text-light d-inline ml-5">
      MY DIET ADMIN
    </h1>
  </div>
  <div class="nav-buttons p-2">
    <img
      src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg"
      width="40"
      height="40"
      class="rounded-circle mr-2"
    />
  </div>
</div>
<div class="wrapper d-flex bg-light">
  <div class="side-bar border p-2" id="navbarSupportedContent">
    <ul class="list-unstyled">
      <li class="text-secondary mt-2">
        <a href="#" [routerLink]="['/dashboard']"
          ><i class="fa fa-home d-inline"></i> Dashboard
        </a>
      </li>
      <li class="text-secondary mt-2">
        <a href="#" [routerLink]="['/backend/profile']"
          ><i class="fa fa-user d-inline"></i> Profiles
        </a>
      </li>
      <li class="text-secondary mt-2">
        <a href="#" [routerLink]="['/backend/food']"
          ><i class="fa fa-glass-cheers d-inline"></i> Food
        </a>
      </li>
      <li class="text-secondary mt-2">
        <a href="#" [routerLink]="['/reports/bmi']"
          ><i class="fa fa-book d-inline"></i> Reports
        </a>
      </li>
    </ul>
  </div>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
