<div class="nav d-flex bg-secondary justify-content-between">
  <div class="brand p-2">
    <i class="fa fa-arrow-left d-inline text-light back"></i>

    <h1 class="text-light d-inline ml-5">
      MY DIET ADMIN
    </h1>
  </div>
  <div class="nav-buttons p-2">
    <img
      src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg"
      width="40"
      height="40"
      class="rounded-circle mr-2"
    />
  </div>
</div>
<div class="wrapper d-flex bg-light">
  <div class="side-bar border p-2" id="navbarSupportedContent">
    <ul class="list-unstyled">
      <li class="text-secondary">
        <i class="fa fa-home d-inline"></i> Dashboard
      </li>
    </ul>
  </div>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          Content
        </div>
      </div>
    </div>
  </div>
</div>
